
<!DOCTYPE html>

<html lang="en" ng-app="EMS">
<head>
    <title>Employee Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Custom CSS ---------------------------------------------------------------------------------------------------->
    <link rel="stylesheet" href="assets/css/animate.css">
</head>
<body ng-cloak="true" ng-controller="HomePageCtrl as ctrl">
<!-- Sets navigation bar classes -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Defines navigation bar button -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EMS</a>
        </div>

        <!-- Collects nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a href="#!/register"
                       data-target="#register"
                       data-toggle="tab">
                        Employee Registration
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!/search"
                       data-target="#search"
                       data-toggle="tab">
                        Search Static Data
                        <span class="sr-only">(search)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!/searchDB"
                       data-target="#searchDB"
                       data-toggle="tab">
                        Search Employee DB
                        <span class="sr-only">(searchDB)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#!/edit"
                       data-target="#edit"
                       data-toggle="tab">
                        Edit Employee Record
                        <span class="sr-only">(edit)</span>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-collapse">
            <li class="dropdown">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ctrl.profilelink}}">{{ctrl.emailAddress}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">My Account</a></li>
                      <li><a ng-click="ctrl.logout()">Logout</a></li>
                    </ul>
            </li>    
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>

<!-- Tab panes -->
<div class="container tab-content">
    <ui-view></ui-view>
</div>


<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<!--Custom Scripts ------------------------------------------------------------------------------------------------>
<!--Loads the js file that contains the EMS module definition-->
<script src="app/app.js"></script>
<script src="app/app.config.js"></script>
<script src="app/services/auth.services.js"></script>
<!--Loads the js file that contains the EmpService controller definition-->
<script src="app/services/department.services.js"></script>
<!--Loads the js file that contains the SearchCtrl controller definition-->
<script src="app/services/employee.services.js"></script>
<!--Loads the js file that contains the RegCtrl controller definition-->
<script src="app/registration/register.controller.js"></script>
<!--Loads the js file that contains the SearchCtrl controller definition-->
<script src="app/search/search.controller.js"></script>
<!--Loads the js file that contains the SearchDB controller definition-->
<script src="app/search/searchDB.controller.js"></script>
<!--Loads the js file that contains the SearchDB controller definition-->
<script src="app/edit/edit.controller.js"></script>
<!-- Load the login controller -->
<script src="app/security/login.controller.js"></script>
<!-- Load the Register controller -->
<script src="app/security/register.controller.js"></script>
<script src="app/security/homepg.controller.js"></script>

</body>
</html>